:root{
    --background-color: white;
    --background-light: white;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 0, 85);
    --text-color: #0a0a0a;
    --text-light: #676767;
    --font-size: 16px;
    --animation-speed: 1;
}
@import 'partials/animations';
@import 'partials/navbar';

@function animation($speed: number) {
    @return calc($speed * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    font-family: 'Anek Tamil', sans-serif;;
}

a{
    text-decoration: none;
}

.section{
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    .title{
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom: .25em;
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        line-height: 1.2em;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}

@import 'partials/hero-section';

.section.improve-skills{
    .col.img{
        img{
            width: 100%;
        }
    }

    .col.typography{
        padding-left: 1em;
        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            padding-left: .5em;
            padding: .1em 0 .1em .5em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: animation(.5s) slideInRight forwards;
            @for $i from 2 to 8 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .1}s;
                }
            }
        }
        .btn{
            margin-top: 1em;
        }
    }
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5em 1em; 
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }

}

.custom-image{
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}

.main{
    padding-block: 3vw;
}

.container{
    padding-inline: 18vw;
}

@media screen and (max-width: 768px) {
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-icon{
            display: block;
        }
    }
}